agm-map {
    height: 300px;
  }

  #row{
    font-size: medium;
    width: 100% !important;
  }

  .card-title{
    padding: 2px;
    margin: auto;
    width: 100% !important;
    text-align: center;
  }




  
